.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid transparent;
  text-align: left;
  padding: 10px;
  transition: 0.2s ease-in;

  &:hover {
    background-color: var(--surface1);
  }
}
