.chats {
  border-top: 1px solid var(--surface1);
  border-bottom: 1px solid var(--surface1);
  padding: 8px 0;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
