.form {
  display: flex;
  flex-direction: column;
  background-color: var(--base);
  width: 50%;
  margin: auto;
  text-align: center;

  h1 {
    color: var(--text);
    font-size: 36px;
    margin-bottom: 10px;
  }

  input {
    margin-top: 20px;
    padding: 15px;
    background-color: transparent;
    font-size: 20px;
    color: var(--text);
    border: 2px solid var(--surface);
    outline: none;
    font-weight: 500;
    border-radius: 15px;
    transition: 0.3s linear border-color;

    &::placeholder {
      color: var(--subtext);
    }

    &:hover {
      border-color: var(--lavender);
    }
    &:valid {
      border-color: var(--green);
    }
  }

  button {
    cursor: pointer;
    font-family: "JetBrains Mono", serif;
    margin-top: 40px;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid var(--lavender);
    background-color: var(--lavender);
    font-size: 20px;
    color: var(--base);
    text-transform: uppercase;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: var(--base);
      color: var(--lavender);
    }
  }

  p {
    margin-top: 20px;
    color: var(--subtext);
  }
  a {
    color: var(--lavender);
  }

  label {
    color: var(--red);
  }
}

.error {
  border-color: var(--red) !important;
}

.errorText {
  color: var(--red) !important;
}
