.prompt {
  display: flex;
  grid-row: 2;
  justify-content: center;
  height: 70px;
  margin-bottom: 50px;

  label {
    display: flex;
  }

  input {
    width: 80%;
    font-size: 20px;
    padding: 20px;
    border: 2px solid var(--surface);
    border-radius: 10px;
    outline: none;
    color: var(--text);

    &:valid ~ button {
      background-color: var(--green);
      color: var(--base);
    }
  }

  button {
    font-size: 20px;
    padding: 20px 30px;
    margin: 0 30px;
    border: 2px solid var(--surface);
    border-radius: 10px;
    transition: 0.3s;
    color: var(--text);
  }
}

.empty {
  position: fixed;
  top: 0 !important;
  bottom: 0 !important;
}
