.container {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: 85vh 15vh;
}

.auth_container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100vh;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
